$primaryColor: #aa5500;
$secondaryColor: #582c00;
$backgroundColor: #101030;
$standardPadding: 1.5em;
$headingFontSize: 1.5em;
$hoverHeadingFontSize: 2em;

@mixin bottomBorder($bottom: 5px, $other: 1px, $color: $secondaryColor) {
    border-bottom: $bottom solid $color;
    border-left: $other solid $color;
    border-right: $other solid $color;
    border-top: $other solid $color;
}