@import '_vars.scss';

body {
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
}

header {    
    background: $backgroundColor;
    padding: $standardPadding;    
    text-align: center;    
    h1 {
        color: $primaryColor;
        font-size: $headingFontSize;
        transition: all .2s linear;

        @include bottomBorder(); 

        &:hover {
            font-size: $hoverHeadingFontSize;
        }
    }        
}

main {
    background: $primaryColor;
    padding: $standardPadding;
    .info {
        color: white;
        text-align: center;
        font-size: $headingFontSize;
        box-sizing: border-box;

        @include bottomBorder(10px, 5px, #0034aa);
        p {
            font-size: 0.7em;
            padding-bottom: $standardPadding;
        }
    }
}

input[type=submit] {
    border: 1px solid $secondaryColor;
    background: $primaryColor;
    padding: 1em;
    margin: .4em;
}

#name, #email {
    @extend input[type=submit];
    &::placeholder {
        color: black;
    }
}
